*{
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy";
}

body{
    background-image: url(Document\ To\ Do\ list\ beige\,\ rouge\ et\ violet\ mignon\ fleur.png);
}

.connect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.3rem;
}

.connect a{
    text-decoration: none;
    color: #bd83de;
    font-size: 1.5rem;
    margin: 2rem 0rem;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.matodo{
    text-align: center;

}

.matodo p{
    color: #bd83de;
    font-size: 3rem;
}

.matodo h1{
    color: #ff5757;
    font-size: 4rem;
}

.add{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.add input{
    padding: 0.5rem 0;
}

.add button{
    background: none;
    border: none;
    background-color: #ff5757;
    color: white;
    padding: 0.6rem 0.5rem;
    cursor: pointer;
}

.list{
    padding-top: 3rem;
    display: flex;
    gap: 1rem;
}