*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
}

body{
    background-color:#ff5757;
    height: 100vh;
    
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 3rem 0;
}



.acceuil a{
    color: white;
    font-size: 3rem;

}

.square{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    flex-wrap: wrap;
    
}

.inscription{
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    
}

.login{
    display: flex;
    gap: 0.5rem;
    width: 99%;
}

.deja,.inscription,.submit{
    text-align: center;

}

.nom,.prenom,.mail,.password{
    font-size: 1.5rem;
    font-weight: 500;
    width: 99%;
    
}

.nom p,.prenom p,.mail p,.password p {
    padding: 8px 0;
    
}


.submit button{
    display: block;
    color: white;
    object-fit: cover;
    font-size: 1.5rem;
    background: none;
    border: none;
    background-color: #ff5757;
    padding: 8px 0;
    margin: 1rem 0;
    width: 100%;
    cursor: pointer;
}

.deja a{
    color: #5c959e;
}

input{
    width: 100%;
    padding: 1rem 0;
    font-size: 1.3rem;
}

